@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
* {
	margin: 0;
	padding: 0;
}
h1 {
	font-family: 'Zilla Slab', serif;
	font-weight: 1;
	font-size: 60px;
	color: #ffb077;
	padding-top: 20px;
}
a {
	text-decoration: none;
}
h1:hover {
	color: #B0E0E6;
}
nav {
	/*background-color: white;
	background: rgb(252,252,252);
	background: linear-gradient(153deg, rgba(252,252,252,1) 0%, rgba(176,224,230,1) 100%); 
	*/
	height: 150px;
	position: fixed;
	display: flex;
	flex-direction: row;
	width: 100vw;
	z-index: 1000;
}
#bar {
	background-color: #ffb077;
}
#header-right {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	right: 0px;
	width: 100vw;
	color: #ffb077;
	font-family: 'Source Sans Pro', sans-serif;
	align-items: center;
	font-size: 25px;
}
#header-right a {
	color: #ffb077;
	text-decoration: none;
}
#header-right a:hover {
	color: #B0E0E6;
}
#header-left {
	padding-left: 20px;
}
body {
	background-color: #f3ebe1;
	height: 300vh;
}
section {
	height: 130vh;
	align-items: center;
	display: flex;
	justify-content: space-evenly;
}
#white {
	background-color: white;
	position: relative;
	height: 68vh;
	width: 85vw;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#white img {
	top: 0;
	width: 85vw;
	height: 68vh;
	position: relative;
	z-index: 50;
}
#white h1 {
	z-index: 25;
	top: 20px;
	left: 30px;
	position: absolute;
}
#white ul{
	z-index: 25;
	top: 130px;
	left: 65px;
	position: absolute;
	font-family: 'Source Sans Pro', sans-serif;
	color: #B0E0E6;
	font-size: 27px;
}