.memberinfo {
	/*display: flex;
	flex-direction: column;
	justify-content: flex-start;*/
	height: 40vh;
	width: 45vw;
	margin-top: 30vh;
	perspective: 1000px;
}
.memberinfo:hover .memberinfoinner{
	transform: rotateX(180deg);
}
.memberinfoinner {
	position: relative;
 	width: 100%;
 	height: 100%;
	text-align: center;
	transition: transform 0.6s;
  	transform-style: preserve-3d;
 	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.memberinfofront, .memberinfoback {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: white;
}
.memberinfofront h2{
	margin-top: 10vh;
}
.memberinfoback {
	transform: rotateX(180deg);
	background-color: white;
}
.memberinfoback ul {
	margin-top: 10vh;
}
.memberinfo h2 {
	font-family: 'Zilla Slab', serif;
	font-weight: 1;
	font-size: 60px;
	color: #ffb077;
	padding-top: 20px;
	padding-left: 30px;
}
.memberinfo ul {
	padding-left: 65px;
	padding-top: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #B0E0E6;
	font-size: 27px;
}
section {
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	height: 110vh;
}
section h1 {
	width: 80vw;
	margin-top: 25vh;
}
#paulo {
	margin-top: 8vh;
}